body {
    background: #500808;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap: wrap;
}

.assignment {
    width: 30%;
    padding: 10px;
    margin: 10px;
    background: white;
    border-radius: 15px;
    box-shadow: 8px 10px #000000;
    margin-bottom: 35px;
}

.assignment img {
  width: 200px; 
  border: 1px solid rgb(110, 103, 103);
  margin-right: 20px; 
  border-radius: 5px;
  display: block;
  margin: auto;
}

h1 {
    color:rgb(255, 255, 255);
    text-align: center;
}

h2 {
    color:#500808 ;
}

a{
    text-decoration: none;
    color: black;
}

.assignment a :hover {
    color: black;
}